ws/build
ws/devel
ws/devel_isolated
ws/el
ws/el_isolated
ws/.catkin_workspace
ws/.vscode
ws/src/CMakeLists.txt
ws/log.txt
ws/.ycm_extra_conf.py
ws/.ycm_extra_conf.pyc
ws/src/planning/data/waypoints.json
ws/src/planning/data/history_data
*.py[cod~]
*.cpp~
*.txt~
*.launch~
*.srv~
*.xml~
*.swp
*.tar
.vscode
ws/src/.kdev4
ws/src/src.kdev4
ws/install
ws/logs
ws/ws.workspace
ws/ws.workspace.user
ws/.catkin_tools
ws/src/planning/data
ws/src/guardian/record
ws/src/curve_path_planner/data
*.bag
